:root {
	--primary-brand-color: #4d5ae5;
	--pressed-state-color: #404bbf;
	--dark-color: #2e2f42;
	--success-color: #31d0aa;
	--text-color: #434455;
	--suble-text-color: #8e8f99;
	--accent-color: #e7e9fc;
	--light-color: #f4f4fd;
	--modal-overlay-color: rgba(46, 47, 66, 0.4);
	--hero-background-color: rgba(46, 47, 66, 0.7);
	--white-background-color: #ffffff;
	--modal-background-color: #fcfcfc;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--white-background-color);
	color: var(--text-color);
	
}
/* =========== COMPONENTS==== */
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
h1,
h2,
h3,
p{
	margin-top: 0;
	margin-bottom: 0;
}



.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
.container {
		width: 1158px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-brand-color);
	

}

/* =========== /COMPONENTS==== */

/* ============HEADER== */
.header{
	border-bottom: 1px solid var(--accent-color);
}
.header>.container{
	display: flex;
	
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;

}
.header-menu{
	display: flex;
}
.header-menu>.logo{
	margin-right: 76px;
}
.logo-dark {
	color: var(--dark-color);
}
.menu-list{
	display: flex;
}
.menu-list li{
	margin-right: 40px;
}
.menu-list li:last-child{
	margin-right: 0;
}

.menu-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}

.menu-link:hover,
.menu-link:focus {
	color: var(--pressed-state-color);
}

.contacts-menu {
	font-style: normal;
	margin-left: auto;
		
}
.contacts-list{
	display: flex;
	
}

.contacts-list .contacts-item+.contacts-item{
	margin-left: 40px;
}
.contacts-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--pressed-state-color);
}

/* ========MAIN=============== */

.hero-body {

	/* display: flex;
  flex-direction: column;
  justify-content: center; */

  background-color: var(--dark-color);
  text-align: center;
  min-height: 600px;
  
	
}
 .hero-container{
	
	margin-left: auto;
	margin-right: auto;
} 
.hero-title {
	margin-bottom: 48px;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--white-background-color);
	max-width: 496px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 188px;
}
.hero-button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white-background-color);
	background-color: var(--primary-brand-color);
	cursor: pointer;
	display: inline-block;
	padding: 16px 32px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	
	
	
}
.hero-button:hover,
.hero-button:focus {
	background-color: var(--pressed-state-color);
}

.properties-list{
	display: flex;
	padding: 120px 0;
}
.properties-list .properties-item+.properties-item{
	margin-left: 24px;
}
.title-second {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--dark-color);
	text-align: center;
	text-transform: capitalize;
	
}
.title-third {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}
.text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.activities-title{
	margin-bottom: 72px;
}
.activities-list{
	display: flex;
	padding-bottom: 120px;
}
.activities-list .activities-item+.activities-item{
	margin-left: 24px;
}

.activities-image{
	display: block;
	
}
.team-body {
	background-color: var(--light-color);
	
}
.team-title{
	padding-top: 120px;
	padding-bottom: 72px;
}
.team-list{
	display: flex;
	padding-bottom: 120px;
}


.team-list .team-item+.team-item{
	margin-left: 24px;
}
.team-item {
	background-color: var(--white-background-color);
	text-align: center;
}
.team-image{
	margin-bottom: 32px;
}
.team-name{
	margin-bottom: 8px;
	
}
.team-text{
	padding-bottom: 32px;
}
/* ======FOOTER======== */
.footer {
	background-color: var(--dark-color);
	display: flex;
	
}
.footer>.container{
	padding-top: 100px;
	padding-bottom: 100px
}


.logo-light {
	color: var(--light-color);
}
.footer-text{
	width: 264px;
	margin-top: 16px;
}
.text-light {
	color: var(--light-color);
}





/* ===PORTFOLIO HTML===== */
.filter-list{
	display: flex;
	justify-content: center;
	padding-top: 96px;
padding-bottom: 72px;

}
.filter-list .filter-item+.filter-item{
	margin-left: 24px;
}
.filter-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--primary-brand-color);

	background-color: var(--light-color);
	
	border: 1px solid var(--accent-color);
border-radius: 4px;

padding: 12px 24px;

}

.filter-btn:hover,
.filter-btn:focus {
	color: var(--white-background-color);
	cursor: pointer;
	background-color: var(--pressed-state-color);
}

.gallery-list{
	
	display: flex;
	flex-wrap: wrap;
	margin: -24px -12px;
	margin-left: -12px;
}
.gallery-item{
	
margin: 24px 12px;

}


.gallery-image{
	display: block;
}

.gallery-project-text{
	margin-top: 8px;
	text-align: center;
}
.gallery-card{
	border: 1px solid var(--accent-color);
	padding-bottom: 16px;
	padding-top: 32px;
}
.gallery-item .title-second {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}
.gallery-project-text {
	color: var(--text-color);
}
